# Dependencies
node_modules/
/.pnp
.pnp.js

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Output
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.log

# Uploads and Persistent Data
uploads/
/data
mongo_data/
postgres_data/
mysql_data/

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
